openapi: 3.0.3

info:
  title: School List API
  description: |
    An unexistent API to query schools.
  contact:
    name:  Hilari Moragrega
    url:   https://github.com/hmoragrega
    email: hilari@hilarimoragrega.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0

servers:
  - url:         https://hilarimoragrega.com/openapi-parser
    description: Production server

paths:
  # inline paths are not supported, only local references are.
  /v1/schools:
    $ref: "resources/schools.yml"
  /v1/schools/{uuid}:
    $ref: "resources/schools-{uuid}.yml"
  /v1/schools/notify:
    $ref: "resources/schools-notify.yml"

components:

  # inline schemas are not supported, only local references are.
  schemas:
    School:
      $ref: "schemas/school.yml"
    SchoolNotification:
      $ref: "schemas/school-notification.yml"
    Address:
      $ref: "schemas/address.yml"
    Error:
      $ref: "schemas/error.yml"

  # only inline schemas are supported for parameters.
  parameters:
    Next:
      in: query
      name: next
      required: false
      description: The cursor position for pagination.
      schema:
        type: integer
    PerPage:
      in: query
      name: per_page
      required: false
      description: |
        The amount of items to return in the current list (Default: 50. Min: 25, Max: 100).
      schema:
        type: integer
        minimum: 25
        maximum: 100
        default: 50

#
#  responses:
#    BadRequest:
#      description: |
#        Bad request - The request cannot be processed
#      content:
#        application/json:
#          schema:
#            $ref: "#/components/schemas/Error"
#          example:
#            code: "400"
#            message: "Bad request."
#    Unauthorized:
#      description: |
#        Unauthorized - Invalid authorization credentials.
#      content:
#        application/json:
#          schema:
#            $ref: "schemas/error.yml"
#          example:
#            code: "401"
#            message: "Unauthorized."
